# Exclude everything
*

# Except: 
!.config
!.doom.d
!.gitconfig
!.gitignore
!.icons
!LICENSE
!.local
!.profile
!README.md
!setup.sh
!.spectrwm.conf
!.themes
!.xinitrc
!.xmonad
!.xprofile
!.Xresources
!.zshrc

# .config subdir
!.config/alacritty
!.config/baraction.sh
!.config/gtk-3.0
!.config/i3
!.config/kak
!.config/kitty
!.config/leftwm
!.config/neofetch
!.config/nvim
!.config/picom
!.config/polybar
!.config/qtile
!.config/rofi
!.config/vis
!.config/xmobar
!.config/xrandr.sh
